cryptocurrency=btc
cryptocurrency_rpc_port=7752
cryptocurrency_rpc_username=user
cryptocurrency_rpc_password=pass

database_dir=~/data/db/btc

db_host=mongo

mongo_web_admin_port=8081

db_admin_username=mongoroot
db_admin_password=mongopass

db_readonly_username=mongousr
db_readonly_password=changeme

tx_address_cache_limit=1000000